[2016-06-08 18:46] imjared opened #1 "ugh i'm totally going to be *that* guy filing the first issue"
looks like the nodejs link is broken :(
https://github.com/airbnb/hypernova/blob/master/docs/clients.md

[2016-06-08 19:04] goatslacker commented on #1
Thanks for being that person :)

We'll be pushing up the code pretty soon. Apologies for the delay.

[2016-06-09 05:20] ljharb commented on #1
https://www.npmjs.com/package/hypernova-client and https://github.com/airbnb/hypernova-node are now available.

[2016-06-09 05:20] #1 closed

[2016-06-14 02:25] zephraph opened #9 "Any plans for creating tests for the client spec?"
I'm really excited about this project. Unfortunately I'm locked into a java platform so I'd have to write a client to be able to use it. I don't mind doing that on the surface of it, but it'd be extremely useful to have a general test suite for validating the clients against the spec. That would also make it easier to write other clients in other languages.

Do any such tests exist? If not, would

[2016-06-14 02:51] ljharb commented on #9
That is an *excellent* question and I think we'd all very much like to have a set of tests like this! Both to test against the clients we use and maintain ourselves, and to make it easier for people like you to create new flavors of hypernova clients.

We'd be happy to help if you were willing to start that sort of project - ideally we'd like it to be written using node, so that it's the same lang

[2016-06-14 03:05] zephraph commented on #9
Definitely. Where would it be best to put the tests? Is this repo the right place for it, or should there be a generic `hypernova-client` repo with the tests and spec?

[2016-06-14 04:44] ljharb commented on #9
That's a really good question. I'd say the best place is a repo underneath `airbnb`, if you're amenable to that. I've created https://github.com/airbnb/hypernova-client if you want to make the PR into it?

[2016-06-14 12:33] zephraph commented on #9
Will do!

[2016-06-14 12:33] #9 closed

[2016-06-15 01:04] goatslacker commented on #9
How are you planning on creating generic tests for these clients? I'm guessing tests will have to be written in every language that a client exists.

[2016-06-15 02:31] zephraph commented on #9
Currently my idea is an RPC setup. I'm leaning more towards xml-rpc, but I'd definitely like to discuss the options with you folks.

Basically we'll set up scenarios where we tell the client's rpc setup to call a method in the client's code with given arguments, expect it to submit a specific request, and expect it to respond (again via the rpc connection) to the test runner with whatever result.

[2016-06-15 21:28] ChrisCates opened #13 "More detailed examples"
Hey,

I found the example documentation to be sufficient to understand the concepts. However, implementation was not possible.

I am intending on using Hypernova with React-Router and/or Redux. And I'm wondering if my application structure will permit this.

Something such as:

[code]

Does not render when you hit the desired Port of Hypernova (using the `hypernova/server` package).

If it's possi

[2016-06-15 21:40] goatslacker commented on #13
I'm working on making a complex "real world" example which uses some of the tech you've mentioned.

What sort of error are you getting now?

[2016-06-16 00:14] ChrisCates commented on #13
@goatslacker Nothing. just a 404.
After this issue I've been seriously considering building a server side rendering library that couples directly with React-Router.

Is there some sort of roadmap for your product so I can get a good idea if I can contribute to this library (or do my own thing).

[2016-06-16 00:33] ljharb commented on #13
@ChrisCates we'd absolutely love hypernova to be compatible with react-router - we use react-router in a few places that aren't yet server-rendered, and hope to server-render them soon! It'd be great, if changes are needed in hypernova to work with react-router, if you wanted to file issues and make PRs to help :-)

[2016-06-16 01:36] ChrisCates commented on #13
@ljharb I'll consider it. I'm still on the fence about creating my own FOSS NPM Module. I see me investing a lot of time in multiple use cases that go beyond React-Router, Redux and reengineering your current module would be questionable if it's not a pivot you're willing to make.

If you're up for it. We can talk on google hangouts at cc.chriscates.cc@gmail.com

Thanks, Chris

[2016-06-16 20:15] ryanramage opened #15 "getComponent reject should return http response back to client"
If I return a promise from getComponent, and I decide the name is not valid currently this is the response

[code]
for reference, the posted json looks like:

[code]

a section of my getComponent looks like

[code]

Can we make it so the rejected promise makes a 400 status code, and maybe a json response like:

[code]

[2016-06-16 20:57] ljharb commented on #15
This sounds totally reasonable, and could be done before the `.then` in https://github.com/airbnb/hypernova/blob/master/src/utils/BatchManager.js#L139

[2016-06-16 21:20] goatslacker commented on #15
If you return a rejected Promise from `getComponent` you'll already trigger an error and `onError` will be [called for all the plugins](https://github.com/airbnb/hypernova/blob/master/src/utils/lifecycle.js#L171-L172).

A response is already returned with the format:

[code]

so do you just want the `statusCode` to be `400` and `duration` to be not null?

[2016-06-16 21:22] goatslacker commented on #13
What version of RR are you using? I'll replicate this today.

[2016-06-16 21:23] ryanramage commented on #15
@goatslacker for some reason I don't get that response back. My response is

[code]
with an empty body (as suggested by the Content-Length)

I am fine with the message you specified (and statusCode of 500) but I am not seeing that behaviour

[2016-06-16 21:28] ChrisCates commented on #13
@goatslacker I wasn't using Ruby on Rails. Was using Express and Node V6.0.0 with Babel.

You should make it more explicit how it works. As it is deceiving that there is a hypernova-node repository but it does not have clear documentation on how to run it.

[2016-06-16 21:34] zsaraf opened #16 "Creating PHP Client"
Hello,

I'm working on creating a php client for hypernova. One thing that I haven't been able to figure out is what url to post to for hypernova, and how the POST params should be set up. I'm running hypernova.js locally, and have tried POST'ing to http://localhost:3030/ but am getting 404s! When I POST to http://localhost:3030/batch I get this response (below), no matter what i put in the params

[2016-06-16 21:36] ljharb commented on #13
I don't think "deceiving" is a fair or an accurate word. Certainly every project can always use better documentation, and please do file an issue requesting it on `hypernova-node` if you have actionable feedback for us.

[2016-06-16 21:44] goatslacker commented on #16
Sure.

The `HOST` is whatever you're running Hypernova on `localhost` usually works if you're testing locally.
`PORT` is whatever is specified when you setup Hypernova. You can see an example here in the [README](https://github.com/airbnb/hypernova#node) and there's also [this working example](https://github.com/airbnb/hypernova/blob/master/examples/simple/hypernova.js#L13).

The URL is `/batch` a

[2016-06-16 21:44] #16 closed

[2016-06-16 21:45] zsaraf commented on #16
Thanks a lot!

[2016-06-16 21:45] goatslacker commented on #13
RR = React Router. My bad for not being explicit.

[2016-06-16 21:48] zsaraf commented on #16
I'd also recommend putting the above info ^^ that you provided me in the client spec (https://github.com/airbnb/hypernova/blob/master/docs/client-spec.md) as it is very important and not directly specified anywhere. People will definitely find that info helpful when creating their own clients :-)

[2016-06-16 21:51] goatslacker commented on #16
SGTM, I'll open a PR.

[2016-06-16 22:24] goatslacker commented on #15
I'll post my setup.

[2016-06-16 22:57] ChrisCates commented on #13
@ljharb For sure! I completely understand. I just got the impression it was a rendering service FOR node. Sorry for the wrong choice of words. Even my NPM modules could use more detailed documentation too. :)

@goatslacker I understand completely, and now understand why there was such a big disconnect with this project. This comes back to the idea of creating my own rendering service that couples

[2016-06-16 22:57] #13 closed

[2016-06-16 23:03] ChrisCates commented on #13
There are several projects that will stem from this conversation:

One for higher order functional programming to manipulate template literals as if they were HTML documents.

Second is a server side rendering strategy that couples directly with React Router

Third is a server side rendering strategy that pushes Redux state to Redis to be remapped to the client if/when they leave the server. (Most

[2016-06-16 23:58] goatslacker commented on #15
@ryanramage

[code]

[code]

[code]

[code]

[code]

[2016-06-17 00:00] goatslacker commented on #15
There are reasons why you might be getting an empty response and that's maybe because you're passing an empty request. The request format matters, you can see an example above in my `curl` request. Another thing is that there should be a `Content-Type` header set to `application/json` so that [`body-parser`](https://github.com/expressjs/body-parser) extracts the jobs from the request.

[2016-06-17 00:20] ryanramage commented on #15
@goatslacker thanks. that fixed it for me. It was actually one of my rejects was returning a string and not an Error object.

[2016-06-17 00:20] #15 closed

[2016-06-17 00:30] goatslacker commented on #15
Looks like a bug. I'll get that fixed.

[2016-06-17 23:08] goatslacker commented on #13
A bit of follow-up on this.

The following code sample will not work on any server-rendering environment (unless you're using jsdom or similar) because the DOM isn't available. `browserHistory` expects there to be a DOM and throws an error if one isn't available.

[code]

To server-render with React Router you'll need to use `match` and friends which is [explained here](https://github.com/reactjs/

[2016-06-17 23:34] goatslacker commented on #13
@ChrisCates if you're up for it, I'd love to hear how you intend to use react router on the client + server.

[2016-06-17 23:35] ChrisCates commented on #13
@goatslacker add me on google hangouts: cc.chriscates.cc@gmail.com and we will discuss the use cases I intend to work on.

Would love to collaborate where possible as well too.

cc @ljharb

[2016-06-18 00:29] ChrisCates commented on #13
@goatslacker Also would love to discuss match in more detail, and it's use cases in terms of SEO optimization and pre-rendering.

I do envision myself reengineering the match solution to a simpler middleware function that can scale and render elements without penalty while keeping browserHistory in place when a DOM is registered.

[2016-06-18 22:58] ChrisCates commented on #13
Hey guys! I made a vlog about one of the use cases I wanted to cover:

https://www.youtube.com/watch?v=K-jtAfA5afs&feature=youtu.be

[2016-06-19 18:01] ChrisCates commented on #13
I also wrote an open letter today. Could you guys give feedback? https://github.com/ChrisCates/An-Open-Letter-to-Facebook-and-Webpack

[2016-06-22 20:51] alexindigo opened #19 "Broken example"
In your readme, example component returns object: `{default: [Function]}`,
but in your BatchManager it expects a function:

https://github.com/airbnb/hypernova/blob/master/src/utils/BatchManager.js#L141

Did I miss something or there is more to it than you have in the example/readme.

Thank you.

[2016-06-22 20:58] goatslacker commented on #19
I'll change it to regular CJS to simplify it.

The original reasoning is that you'll most likely be doing some transpiling for the browser and probably for the server too since some features don't run on latest node. If you're transpiling then you'll probably be either using `import` on the server, or you'll figure out how to transpile `export default` into `module.exports` with some plugin, maybe

[2016-06-22 21:21] alexindigo commented on #19
Yep, I did transpile with babel and react + es2015 presents, this what I've got:

[code]

And server side rendering is all I care about and I'd be getting my components in es6/jsx so compiling will be part of the deploy process.

[2016-06-22 21:35] alexindigo commented on #19
One more question, about that example:

[code]

You're passing `props` object, but using `this.props`. :)

[2016-06-22 21:35] alexindigo commented on #19
Will check your example, thanks.

[2016-06-22 22:06] goatslacker commented on #19
@alexindigo where is that at? That's a bug.

[2016-06-23 00:49] alexindigo commented on #19
I see you fixed it here, but old version is still on npm:

![this.prop.name](http://ia.gs/gWUK/Image%202016-06-22%20at%204.04.40%20PM.png)

[2016-06-23 01:03] alexindigo commented on #19
Playing more and with your updated example, I noticed that `onClick` handler gets lost.

component:

[code]

Compiled:

[code]

Output:

[code]

`onClick` is gone, not sure if it's a feature or a bug.

[2016-06-23 01:22] alexindigo commented on #19
And one more thing, it's not clear to me (yet),
why I need to have `import { renderReact } from 'hypernova-react';`
as part of the component, is it different from the built-in React method?

Thank you.

[2016-06-23 15:28] alexindigo commented on #19
I see, it doesn't really renders it, more like priming for the hypernova usage:

[code]

[2016-06-24 19:14] #19 closed

[2016-06-24 19:17] goatslacker commented on #19
@alexindigo ah yes, npm has the old README. When I publish a next version to npm the README will be updated there as well.

As for `onClick` handler being "lost", React doesn't include any event handlers in the markup itself, that all lives in the code which is also included on the page and runs on the page.

The markup that you're producing is just the server-rendered HTML that is displayed to th

[2016-06-28 07:20] alexindigo opened #22 "`createGetComponent` doesn't prevent leaking data between requests"
As per documentation: `The most common use-case would be to use a VM to keep each module sandboxed between requests. You can use createGetComponent from Hypernova to retrieve a getComponent function that does this.`

I'm using `createGetComponent` to load following component:

[code]

with following getComponent function

[code]

And `meme` counter keeps ticking:

![incrementing value](http://ia.g

[2016-06-29 01:55] alexindigo commented on #22
@goatslacker It seems more than documentation bug, running things in VM implies isolation.
Seems like having cache in front of the VM creates the issue.

[2016-06-30 19:35] goatslacker commented on #22
I marked it as a bug + documentation because it can be both. Either we fix the issue or we amend the documentation to make it explicit that using `createVM` and `createGetComponent` will leak.

It's a tough situation because if you don't have a caching layer then you're adding server-render time to your total time. It's not cheap to eval code.

There are a few things you can do to make things fast

[2016-06-30 20:37] alexindigo commented on #22
Yep, I'm planning to try different options too. Not sure how bundling "all the code" would help though. My immediate candidates to try are: regular vm thing, code-revaluation and hacky thing of `new Function` combined with `with` :))) but need to setup sound load testing environment first and get the base line.

[2016-06-30 22:04] goatslacker commented on #22
Bundling all the code helps because a lot of the time spent creating a new VM is in resolving the require paths, crawling through the file system, reading all the code and evaluating it (which creates a separate new module). When you bundle all the code there are less files that need to be resolved and thus less code to iterate through. It's just a single bundle VM.

Don't take my word for it thou

[2016-06-30 22:45] alexindigo commented on #22
I was going to preload all the files (either parsed or not) at start time in any case, I/O during request is not my thing :)

[2016-06-30 22:48] goatslacker commented on #22
I've tried that before as well, caching all the files and then just re-evaluating the VM on each request. I forget what my findings were. It might be wise to revisit that idea.

Right now having things shared between each VM isn't that big of a deal given the tradeoffs. Rendering is still a synchronous affair so any potential data that could be leaked is wiped at the start of each new request. Thi

[2016-06-30 22:56] alexindigo commented on #22
I want to know more about async rendering :)

[2016-07-11 11:09] abelmokadem commented on #16
@zsaraf is there a public repo of the work you have done?

[2016-08-11 09:30] thedrow opened #27 "Render using multiple threads"
Rendering is a CPU bound task which might be problematic for Node js during spikes.
We could use something like https://github.com/xk/node-threads-a-gogo to create a thread pool of workers that render React components to HTML and use the event loop just for I/O.

[2016-08-11 16:47] ljharb commented on #27
The solution in node to handle CPU-bound tasks is to scale using separate processes - not threads, which is how hypernova is designed to be used.

[2016-08-11 18:11] tristanoneil opened #28 "Caching?"
Does Hypernova cache components and if so what is the cache key based on? I was looking through the code and it appears like there's some caching going on but only in `createVM` which doesn't appear to be used unless you're using `createGetComponent`. I'm not using `createGetComponent` because I'm just bundling all of my components into a single file and calling the corresponding component given t

[2016-08-11 19:16] goatslacker commented on #28
Hypernova itself does not cache. `createVM` caches the `module.exports` because VMs are expensive to run on each request (requires need to be resolved, and all of the code needs to be evaluated)

You can use `createVM` yourself without `createGetComponent`. `createGetComponent` is just there as a sugar for using `createVM` but it's not required.

Though, be aware that caching the VM gives the bund

[2016-08-11 19:16] #28 closed

[2016-08-11 19:25] ljharb commented on #9
Nobody's come up with a practical way of accomplishing this - so for now, I'm going to delete the hypernova-client repository.

Please feel free to comment here, or file a new issue, if anyone comes up with a practical way to achieve this.

[2016-08-11 19:49] tristanoneil commented on #28
@goatslacker Gotcha, is caching recommended? Just not sure how expensive rendering the component to HTML is for each request.

[2016-08-11 19:58] goatslacker commented on #27
We are already using Node.js' [`cluster`](https://nodejs.org/api/cluster.html) module [here](https://github.com/airbnb/hypernova/blob/master/src/server.js#L4) to achieve the same goal.

I think that Hypernova isn't opinionated on your clustering architecture so you're free to skip out on using `cluster` and instead implement something that uses `threads-a-gogo`.

Thanks for sharing though :) It lo

[2016-08-11 19:58] #27 closed

[2016-08-11 22:15] goatslacker commented on #28
Depends on your situation. If you can get fast enough rendering without caching then I'd keep it simple and do that.

Render time is included with each Hypernova response so you can take a look at how long its taking the server to render your HTML.

[2016-08-18 20:34] awolden opened #29 "Alternative Server Architecture"
I've been looking into this project and I am really excited about it. I am curious if there has been any talk about having the flexibility to use a server environment that is not express. Namely the use-case I find most interesting would be the ability to run hypernova as a lambda, which would require a more stateless implementation.

Thanks!

[2016-08-19 12:58] fatfisz opened #30 "The ENCODE array is changed in-place every time"
[code]

`Array.prototype.reverse` changes the array in place, is this desirable in this case? The second time `load` is called (and `decode` too as a result), `ENCODE.reverse()` should have the same value as `ENCODE` in the beginning, i.e.

[code]

[2016-08-19 21:11] ljharb commented on #30
As long as we can come up with a failing test for this, we should probably just be using `reduceRight` instead.

[2016-08-22 21:54] #30 closed

[2016-08-22 22:56] fatfisz commented on #30
Big thanks for the fix!

[2016-08-22 22:57] ljharb commented on #30
Thanks for the report!

[2016-08-23 21:37] goatslacker commented on #29
@awolden I'm interested in hearing thoughts about this. I haven't experimented much with AWS lambda so I'm not sure what would be involved.

Wouldn't it just be using the [`renderBatch`](https://github.com/airbnb/hypernova/blob/master/src/utils/renderBatch.js#L12) logic? If so, we can just pull that out of this package or provide a way so you can link to it.

[2016-08-23 23:32] awolden commented on #29
@goatslacker Funny you should mention `renderBatch` I built a PoC where I directly called render batch.  The only real issue I ran into was that the renderBatch promise doesn't actually return the results and it is highly coupled to express objects.  If the `renderBatch` was a little more decoupled from express, it would be easy to seamlessly integrate it into a lambda.

**Quick PoC:**

[code]

[2016-08-24 00:27] goatslacker commented on #29
If whatever server you're using has a concept of a "request" and  "response" then this should be as easy as:

[code]

The promise can return the BatchManager instance and then you'll be able to pull the `statusCode` from there or call `getResults()` yourself to get all the results.

The `jobs` being pulled from `req.body` can be configured of course, same with `config`.

[2016-08-26 21:57] ljharb opened #33 "Remove `process.binding('natives')`"
Per https://github.com/nodejs/node/pull/2741 - this will start warning soon.

https://github.com/nodejs/node/issues/3307 seems to provide a way to do `isNativeModule`.

[2016-09-06 17:22] awolden commented on #29
@goatslacker, sorry for the delayed response on this, I haven't looked into this much further than the PoC I have above.  Node AWS Lambda's do not have a concept of  `req` or `res`, but it should be easy enough to mock objects that look like req/res. I like your suggested solution using `processBatch`. I will give it a try!

Thanks for the help.

-Alex

[2016-09-15 03:28] frozenfung opened #36 "Does parsed body has a limitation?"
Hey team, I really appreicate you guys open source hypernova. It's awesome and flexiable that make isomorphic so convenient.

But now I encounter some weird situation, I don't know if there is something I missed.
My application is trying to render lots of html tags with server, precisely, like 13k tags. When I limited the tags rendered by server under 400, it works as expected. And when I reset li

[2016-09-15 03:45] goatslacker commented on #36
Yes, it sounds like you're server rendering too much information. Server rendering isn't free/cheap so just render what you need to and defer the rest.

[2016-09-18 18:44] frozenfung commented on #36
@goatslacker I see, thanks man.

[2016-09-18 18:44] #36 closed

[2016-12-29 06:08] xinranxiao commented on #13
sorry to tag on a closed issue, but was there any progress on making the more complex "real world" example? cc @goatslacker

[2017-01-19 21:44] chibicode opened #43 "Promise Error on Basic Use Case"
Hi, I attempted to test `hypernova` without loading a component from a file like this (it handles JSX because I'm compiling server JS file w/ webpack):

[code]

Then when I use this from Rails:

[code]

I do see hypernova's `div` rendered, but the content is empty:

[code]

On the server, I get this error:

[code]

I'm not sure how to go about debugging this. Any help would be much appreciated.

[2017-01-20 03:37] greenkeeper[bot] opened #44 "An in-range update of babel-cli is breaking the build 🚨"
## Version **6.22.1** of [babel-cli](https://www.npmjs.com/package/babel-cli) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/hypernova/compare/greenkeeper%2Fbabel-cli-6.22.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-cli
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-01-20 18:55] ljharb commented on #43
The string you pass to `renderReact` must match your hypernova key and the string you pass into `render_react_component` - you're passing `TestComponent` instead of `Test`.

[2017-01-23 22:12] #43 closed

[2017-01-23 23:17] chibicode commented on #43
@ljharb sorry - I didn't realize that those had to match. Here's why I got confused:

![image](https://cloud.githubusercontent.com/assets/992008/22227184/77765724-e20d-11e6-97e4-bc67610c47b1.png)

[2017-01-30 22:23] greenkeeper[bot] opened #45 "An in-range update of babel-preset-airbnb is breaking the build 🚨"
## Version **2.2.2** of [babel-preset-airbnb](https://github.com/airbnb/babel-preset-airbnb) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/hypernova/compare/greenkeeper%2Fbabel-preset-airbnb-2.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-preset-airbnb
    </td>

[2017-01-31 07:57] #45 closed

[2017-02-14 01:56] justin808 opened #48 "Why is React hydration data within a script tag, commented out?"
I'm working on an issue to optimize open source library for server rendering: [github.com/shakacode/react_on_rails/pull/660](https://github.com/shakacode/react_on_rails/pull/660#issuecomment-279575815).

We're considering breaking away from placing react hydration data in a meta tag and moving into maybe a script tag.

Why does Airbnb puts react hydration data inside of an `<script type=“applicati

[2017-02-14 05:47] ljharb commented on #48
Some older browsers will execute any script block, even if it's type is "application/json".

Best practice is to *always* comment it out to ensure nothing can ever execute.

[2017-02-14 05:53] justin808 commented on #48
Hi @ljharb! Big thanks for the explanation! In terms of avoiding XSS, it seem that you escape `&` and `>`, and *not* `<`. Any other characters?

[2017-02-14 05:57] ljharb commented on #48
The only thing that needs escaping is to prevent the literal string `</script>`, because if browsers see it in any context, they instantly close the script tag.

[2017-02-14 06:16] justin808 commented on #48
@ljharb there might be the chance of some white space in the `</script>` and it being accepted, so probably you would not just strip that out. We're planning on using the Rails [json_escape](http://api.rubyonrails.org/classes/ERB/Util.html#method-c-json_escape).

In terms of performance, did you ever compare placing the JSON data inside of meta tag? the `react-rails` gem does that. It results in l

[2017-02-14 06:58] ljharb commented on #48
CSP is very important; inline JS would be a very bad practice. Performance is irrelevant until other concerns are addressed. A meta tag would have to go in the `<head>` which would delay the page from loading.

Is there something slow about a JSON script block that warrants investigation?

[2017-02-14 07:43] justin808 commented on #48
Some users of https://github.com/shakacode/react_on_rails have complained that the use of a div's meta data element to hold the JSON data is too slow.

This is the source for https://nootrobox.com. There is too much quoting here.

Thanks again for the advice!

![2017-02-13_21-42-59](https://cloud.githubusercontent.com/assets/1118459/22919721/74ef21a6-f235-11e6-8f3b-872506fe67d6.png)

[2017-02-14 09:41] squadette commented on #48
@ljharb, thank you for explanation.  I have one comment:

In our testing, preliminary closing happens for everything which conforms to HTML end tag syntax (https://www.w3.org/TR/html5/syntax.html#end-tags).  That means that the string can be case-insensitive and it can have spaces between `script` and `<`.

That is, `<ScRiPt     />` will also prematurely close.

I guess that you are actually handl

[2017-02-14 16:36] ljharb commented on #48
script isn't self-closing, but sure, `< / sCrIpT>` would probably be a concern too. Indeed handling either `<` or `>` covers any possibility of a closing tag.

[2017-02-14 21:15] squadette commented on #48
I was sooo not awake when I wrote this.   Of course it's `</ScRiPt    >`.  Sorry!

[2017-02-15 12:44] dfguo opened #49 "security issue?"
I was looking through code and found that it's vulnerable to attacks when source code uses native node modules, such as fs.

[code]

These native modules are still executed in ```runInContext``` of createVM.js.

[2017-02-15 16:31] ljharb commented on #49
What's the attack you have in mind?

[2017-02-15 16:32] ljharb commented on #49
(Keeping in mind that this is your own code running on your own server)

[2017-02-15 23:58] goatslacker commented on #49
Hypernova's default configuration is sort of like eval in the sense that you shouldn't run untrusted code on it. If you want a more sandbox like environment for security reasons you can provide your own implementation of `require` and blacklist native modules such as `fs`.

[2017-02-16 03:58] #49 closed

[2017-02-16 06:52] dfguo commented on #49
I raised this issue because I see no reason why we should allow web FE written code to be able to run ```require```. I will look into @goatslacker 's suggestion.

[2017-02-17 04:59] justin808 commented on #48
@squadette brought up the point:

@ljharb, any thoughts on if you'd need to escape double dash in the JSON?

[2017-02-17 05:05] ljharb commented on #48
@justin808 that seems like a potential concern; a PR with test cases would be appreciated.

However, my reading of that is that `--` merely changes how `>` is interpreted; so as long as `>` is always escaped, the issue won't come up.

[2017-02-19 20:49] squadette commented on #48
@ljharb no, it's not about escaping the `>`.  Here is an example of JSON content in HTML comment:

[code]

Here is theoretically problematic JSON content in HTML comment:

[code]

The second (inner) `--` will, according to spec, turn on termination on `>`, but it will be again disabled by the third, final `--`.  So, `>` will not be interpreted as the rest of comment, and browser will ignore everyt

[2017-02-19 21:14] ljharb commented on #48
Interesting - that does sound like something we want to handle, then.

[2017-02-19 21:23] squadette commented on #48
Just in case, relevant part of HTML4 spec: https://www.w3.org/TR/html4/intro/sgmltut.html#h-3.2.4

HTML 3.2 says that it is SGML Application: https://www.w3.org/TR/REC-html32#sgml

HTML 2.0: https://www.w3.org/MarkUp/html-spec/html-spec_3.html#SEC3.2.5

Sometimes they only talk about whitespace, and it's unclear what happens if there is anything else between the pairs of dash-dash.

[2017-02-20 20:21] squadette commented on #48
Here is historical evidence that this is real issue in old versions of Firefox: http://weblog.200ok.com.au/2008/01/dashing-into-trouble-why-html-comments.html

[2017-02-26 15:50] baoti opened #51 "getComponent support function return a Promise"
I am working on vue bindings for Hypernova, but [vue-server-renderer](https://www.npmjs.com/package/vue-server-renderer) renderer pass html by callback:
[code]

So, I'd like `getComponent` support a function which return a Promise, just like `props => Promise.resole(html)`.

[2017-02-26 15:57] baoti commented on #51
Vue bindings for server like this:
[code]

[2017-02-26 23:28] ljharb commented on #51
I'm not sure I understand - are you saying that the vue server renderer does not synchronously produce a string?

[2017-02-27 01:49] baoti commented on #51
@ljharb Yes.

[2017-02-27 07:48] ljharb commented on #51
According to [the code](https://github.com/airbnb/hypernova/blob/5dbddc4dba65bd9ee2bcbc04fec11713bfa89d57/src/utils/BatchManager.js#L145-L147), `getComponent`'s return value is already passed into `Promise.resolve`.

[2017-02-27 09:08] petterm opened #52 "makeValidDataAttribute error for clients without support for hypernova-id"
I have an issue with `makeValidDataAttribute` expecting to always get only defined values.

When I run an application where the hypernova server fails and the hypernova client ([hypernova-python](https://github.com/ornj/hypernova-python) in my case) does not include the hypernova-id data attribute the call-chain from `load("Component")` ends up running `from_script` with an object like `{hypernova

[2017-02-27 11:24] baoti commented on #51
`getComponent`'s return value is a function, but `renderFn(context.props)`'s return value is a Promise.

[2017-02-27 11:26] baoti commented on #51
[```context.html = renderFn(context.props);```](https://github.com/airbnb/hypernova/blob/5dbddc4dba65bd9ee2bcbc04fec11713bfa89d57/src/utils/BatchManager.js#L160)

`context.html` got a Promise, not a string.

[2017-02-27 16:23] ljharb commented on #51
Gotcha; so you'd need https://github.com/airbnb/hypernova/blob/5dbddc4dba65bd9ee2bcbc04fec11713bfa89d57/src/utils/BatchManager.js#L160 changed.

Seems doable/reasonable to me.

[2017-03-09 00:23] danshearmur opened #53 "ff"

[2017-03-09 21:15] #53 closed

[2017-03-30 08:35] loatheb opened #55 "[Module] `require` will be compiled to `__webpack_require__` by webpack"
when I'm using webpack to bundle the project code into one file. I find the code `require` in [src/module](https://github.com/airbnb/hypernova/blob/master/src/Module.js#L110) will be compiled into `__webpack_require__`. so that I can't load the native module from node in the `vm` context.

code in `lib/Module.js`

[code]

my project code use `createVM`, some sample code like this:

[code]

As a re

[2017-03-30 17:41] ljharb commented on #55
I'm confused; the vm part of hypernova is server code; webpack is for browser code. Why are you bundling the server part?

[2017-03-31 01:13] loatheb commented on #55
I just want to bundle both server code into one file.that makes me easier to deploy.

[2017-03-31 03:49] ljharb commented on #55
Typically that's done by using `tar` and deploying an archive, and extracting it on the server. Bundling up server code is not what I'd consider a supported use case, and it's not the purpose of webpack.

[2017-03-31 04:09] loatheb commented on #55
Thanks for replying.I think you're right.

But I want to deploy these code to the AWS Lambda Function. So that, If I don't bundle both file, I have to deploy the `node_modules` folder on the server.The file size is very large, It makes me uncomfortable every time I deploy it.

So that I use `webpack` to bundle it, to reduce the size of the file at each deploy.

[2017-03-31 04:46] ljharb commented on #55
Run `npm prune --production` before deploying it; also, you could use `rsync` over `scp` so that you're only copying changes.

[2017-03-31 06:30] loatheb commented on #55
Thank you. Much useful.

[2017-03-31 06:30] #55 closed

[2017-04-07 13:56] magicmark opened #58 "Clarification in README"
Hi all! Thanks for this awesome project!

From the README:
[code]

What config option is "whether or not to run in parallel using all available cpus" referring to? It also looks like the 'default endpoint path' should be on that line instead.

Thanks!

[2017-04-07 14:06] magicmark opened #59 "Thoughts on extending the API"
Hi again!

Consider a scenario where inside of `getComponent`, we'd like to return a React component rendered with *either* with `renderReact` or `renderReactStatic`, depending on the context (eg legacy reasons).

My initial thought is that we could do something funky like define `NameOfComponent` and `NameOfComponentStatic` and pass such args though the component name.

What would be even better

[2017-04-07 17:42] ljharb commented on #58
Indeed, that looks like a merge conflict gone bad. That text is referring to a now-removed option and should be removed. Mind opening a PR to fix it?

[2017-04-07 17:43] ljharb commented on #59
That seems like something you could do by defining your own getComponent function.

[2017-04-07 21:40] ljharb commented on #59
Ah, I've misread; you want to call a different render method based on the name of the component. This definitely seems like something you could do yourself by implementing your own `renderReact` method - I'm curious what your "legacy reasons" are, but complicating APIs for legacy reasons is generally an unwise idea.

[2017-04-07 22:07] goatslacker commented on #59
Yes this sort of logic is best served by a hypernova-client like [hypernova-react](https://github.com/airbnb/hypernova-react/blob/master/src/index.js#L6).

A hypernova client is just a function so you can do and return whatever you'd like.

[2017-04-07 22:07] #59 closed

[2017-04-08 00:50] magicmark commented on #59
Thanks for the speedy responses!

@goatslacker I might be misunderstanding things here - without changing the component name, I'm not sure how to pass down the flag?

Just to start again to clarify:

I'd like to keep the name of the component (in our case "NameOfComponent") the same, but be able to choose between static/dynamic rendering. There are two ways I can see of doing this:

1. Changing th

[2017-04-09 01:05] #44 closed

[2017-04-09 10:36] #58 closed

[2017-04-10 03:41] magicmark opened #61 "Adding sourcemaps for coverage reports"
html coverage reports currently show the compiled es5

Would be nice to either:

1. Add sourcemaps to istanbul reports
2. Switch to [nyc](https://github.com/istanbuljs/nyc) and compile on the fly

(2 is maybe undesirable if you want the assurance of testing against the actual dist code. fwiw though, something like [this patch](https://gist.github.com/magicmark/1f42671a313f75d3c83e6dd8b10f6c0a) doe

[2017-04-10 05:34] ljharb commented on #61
If you'd like to submit a PR switching us to nyc, I think that'd be great.

[2017-04-11 23:45] goatslacker opened #62 "Client plugins"
Rather than using different renderer functions allow hypernova to be extended through an array of functions which will operate in a reduce() fashion.

Context: https://github.com/airbnb/hypernova-aphrodite/pull/5

[2017-04-13 10:45] magicmark commented on #61
https://github.com/airbnb/hypernova/pull/63

[2017-04-17 18:03] morganpackard opened #64 "I'd like to be able to add my own log transports"
I see that I have the ability to add a `logger` property to the config object passed in to the hypernova initializer. However, it looks like this only gives me the ability to override these defaults:

[code]
What I'd really like to be able to do is pass in my own transports to Winston so I can hook in to my remote logging service. Any plans to add this feature?

[2017-04-19 14:01] magicmark commented on #59
@ljharb @goatslacker Any further thoughts on this?

[2017-05-01 20:26] morganpackard commented on #22
I'm going to take a crack at this. I think we can cache the function returned by `vm.runInNewContext` and just repeatedly call it to initialize a clean module once per request.

I did some profiling on module initialization, measure the time to load, parse, and run `react.js`.
[code]

I recorded the time to parse, and the time for the first module initialization, then the average time for 10k subs

[2017-05-01 21:30] goatslacker commented on #59
@magicmark

Can this do what you want?

[code]

[2017-05-01 21:31] goatslacker commented on #64
We can probably add a transports key to the config object. PR's welcome.

[2017-05-01 21:39] magicmark commented on #59
@goatslacker I still need a way to pass the 'isStatic' flag (amongst other server only args) through to Hypernova from the clientlib :)

(The branch I'm working on does this by passing it through the currently undocumented context arg, but it'd be nice to have a proper documented way of doing this that I can merge upstream)

[2017-05-02 12:44] morganpackard commented on #64
Thanks!

[2017-05-08 21:31] morganpackard commented on #22
I have a solution that's working. Here are some key points on what my fork does:

- Adds an option in `vm.run` to allow you to use module wrapper functions instead of caching the module exports. This allows you to safely use 'stateful' modules, reseting the state between requests.
- Allows you to pass in globals on a per-request basis if you're using the cached wrapper function option. There's now

[2017-05-12 21:25] magicmark commented on #59
So we've actually come full circle on this issue

We might have potential collisions in the browser when we do `renderReact(name, ...)` - if two packages both define a component of the same '`name`'. So to prevent this, we're going to namespace our components, which means we'll just go with option 1 and encode all 'server' data in the component.

[2017-05-13 02:00] goatslacker commented on #59
I see, so your other server is the one that holds the knowledge on whether you want to render something static or non-static. If thats' the case you can pass that sort of information down with the initial payload:

[code]

[2017-05-15 09:17] frozenfung commented on #62
Is there any progress on this issue. If not, I would like to help. Will submit a draft later.

[2017-06-02 18:16] greenkeeper[bot] opened #70 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.4.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/hypernova/compare/greenkeeper%2Feslint-plugin-import-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-import

[2017-06-03 06:33] ljharb commented on #70
v2.4.0 was unpublished.

[2017-06-03 06:33] #70 closed

[2017-06-19 23:52] greenkeeper[bot] opened #71 "An in-range update of babel-preset-airbnb is breaking the build 🚨"
## Version **2.3.0** of [babel-preset-airbnb](https://github.com/airbnb/babel-preset-airbnb) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/hypernova/compare/greenkeeper%2Fbabel-preset-airbnb-2.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-preset-airbnb
    </td>

[2017-06-20 19:02] magicmark opened #73 "Document `onServer`?"
I'm using `onServer` to be able to hook into express, so I can do something like this: https://stackoverflow.com/a/21858212/4396258

(Context: we want to just restart workers if they consume too much memory, but specifically at the end of a request so we don't drop drop any requests)

It's either this or adding a `workerShouldExit` method as a config? What do you think? Can I safely use the `onSer

[2017-06-20 23:29] ljharb commented on #71
Fixed in v2.3.3.

[2017-06-20 23:29] #71 closed

[2017-06-21 02:04] ljharb commented on #73
You'll be able to use it until the next major regardless; hopefully @goatslacker can comment on any long term plans around it.

[2017-06-21 20:15] goatslacker commented on #73
`onServer` is public API and here to stay. It's how we can have access to `app` as well as the master `process` so that we can extend hypernova's server functionality.

👍 on documentation. I'll keep this open.

[2017-06-29 08:50] JoaoCnh opened #77 "ES6 - Unexpected token 'import'"
So I'm trying out hypernova for a new project but I already have a lengthy app built in React.

The main issue right now is that it fails with the ES6 imports.

Does this work with ES6 or how should I proceed?

**EDIT** I get that I need to transpile my Js but now it says `window is not defined`

**UPDATE 2** I removed the commonChunks optimization and I tried nodeExternals but with or without nod

[2017-07-06 01:00] magicmark commented on #77
@JoaoCnh could you provide some stack traces and some more details of how your project is set up? A minimum reproduction example in a repo would be great to help diagnose this.

Have you looked at the [example set up](https://github.com/airbnb/hypernova/blob/master/examples/simple/hypernova.js) in the repo?

[2017-07-06 17:06] JoaoCnh commented on #77
@magicmark Thanks for the reply. I'm not near the project as of this moment but it pretty much looks like this
**hypernova.js**
[code]
My webpack is bundling into public/app.js just for demo purposes.
Then my structure is like **src/js/index.js**

In **index.js**
[code]
I think I'm confusing something somewhere.

[2017-07-07 18:51] nickyr commented on #16
looks like someone else did one: https://github.com/wayfair/hypernova-php

[2017-07-07 23:41] magicmark commented on #77
@JoaoCnh That looks ok to me? as long as you're calling hypernova with 'backoffice.js' as the name?

An actual example that I can reproduce locally would help me understand your problem further, as well as some stacktraces.

[2017-07-10 21:14] goatslacker commented on #77
V8 doesn't have modules support just yet so you'll either need to transpile your code or switch to using something like CommonJS which Node supports natively.

For transpiling the ~~best~~ most straightforward way I've found thus far is to use `babel-cli` to transpile the files into a `build/` directory and then have the server require the files from there.

[code]

If you're set on using webpack

[2017-07-10 21:14] #77 closed

[2017-07-14 19:17] olpoco opened #80 "window, document in component"
What's the best way to server side render component that checks uses `window` and `document` which are only available in the browser?

[2017-07-14 22:13] goatslacker commented on #80
You can use `typeof window === 'undefined'` or `typeof document === 'undefined'` to check for their existence if that's what you're asking.

Otherwise, make sure that you're using these only on `componentDidMount` and never at eval-time.

[2017-07-14 22:13] #80 closed

[2017-07-23 00:25] magicmark opened #83 "HTTP status code is not set"
In trying to add some logging middleware, I noticed that `res.statusCode` is not set.

(curl: http://i.imgur.com/Ch5f2gM.png)

I presume this is an unintended bug? Looks like `status` is set here: https://github.com/airbnb/hypernova/blob/master/src/utils/renderBatch.js#L20

[2017-07-23 00:50] magicmark commented on #83
Ah, just read [this](https://github.com/airbnb/hypernova/blob/master/src/utils/BatchManager.js#L167), looks like this is intentional. (I guess since it's only 1 component in the batch that errored).

Closing.

[2017-07-23 00:50] #83 closed

[2017-08-12 08:18] arefaslani opened #85 "Hypernova with Rails API"
Having a Rails API as backend, can I use Hypernova to render json data retrieved from the API and use that data for server side rendering? Is there any example showing how to use Rails API with Hypernova?

[2017-08-12 08:29] ljharb commented on #85
When you say "Rails API", do you also mean Rails is your webserver?

[2017-08-12 08:38] arefaslani commented on #85
@ljharb I use Nginx + Unicorn combination

[2017-08-14 22:21] goatslacker commented on #85
There's a simple Rails example which can be [found here](https://github.com/airbnb/hypernova/tree/master/examples/simple). Is that what you're looking for?

[2017-08-15 13:39] arefaslani commented on #85
@goatslacker No. I have a Rails JSON API (api.chanka.ir) as back-end and a React application for front-end. Is it possible to use Hypernova for server-side rendering in this type of applications?

[2017-08-15 16:11] ljharb commented on #85
You'd need an actual web server - the thing serving your frontend - to hook into hypernova. The API should be mostly irrelevant.

[2017-08-16 11:44] #85 closed

[2017-08-25 14:50] dpuscher opened #86 "Hypernova ignoring props sometimes"
I am sorry if the description of my issue is a big vague, but I am not really sure where to start when fixing that error.
I am testing `hypernova` with `hypernova-ruby` in a Rails 4.2 environment. Server-side rendering works very well most of the time. But sometimes it seems like there are no props passed to the component for rendering (in hypernova).
I already checked the context (in `getComponen

[2017-08-25 21:08] ljharb commented on #86
What's your top-level component look like?

[2017-08-25 21:57] dpuscher commented on #86
My top level component isn't special. I will try to implement a minimum-example which shows the problem. 😊

[2017-08-29 09:10] zhixueyong commented on #77
It is better to mention this on REAMDE. It took me a while to figure out this root cause and I had thought hypernova is just broken.

[2017-08-29 13:33] dpuscher commented on #86
Okay, I figured out what my problem was: I am loading my javascript asynchronously in the head. So the javascript got executed before the dom was ready. This lead to the situation that the `renderReact`method got called when the placeholder-div was present but the script-tag containing the data was not. Also some components which appeared later in the dom were not initialized.

I am using the foll

[2017-08-29 13:33] #86 closed

[2017-08-31 12:15] Inkdpixels opened #87 "devMode does not reload the components / invalidate the require cache"
I just tried out the hypernova stack and found that the `devMode` does not reload the component on each request as [documented](https://github.com/airbnb/hypernova#server).

#### Example
`hypernova.js`
[code]

`app.js`
[code]

`server.js`
[code]

#### What happens
When requesting `localhost:8080` you will be greeted as configured by `Hello Stranger` but when changing the returned string of the App

[2017-09-04 21:22] tanraya commented on #87
Same question

[2017-09-05 07:56] Inkdpixels opened #89 "Response streaming"
As of React 16 a new method `renderToStream()` method was introduced. I first though of creating a feature request issue at [airbnb/hypernova-react](https://github.com/airbnb/hypernova-react) but after taking a look at the code it seems that more ground-work needs to be done at the server itself to support streams in the first place.

@goatslacker mentioned in #22 that there are plans to support s

[2017-09-05 22:01] ljharb commented on #89
* will be introduced - React 16 isn't out yet.

Definitely we'd like hypernova to support response streaming, and when available, to take advantage of `renderToStream`!

[2017-09-14 20:52] goatslacker commented on #89
React 16 is out in beta right now I believe and the stream/async rendering has already landed so feel free to take it for a spin and report back what works/doesn't work/what you'd like to work/how @Inkdpixels

[2017-10-03 23:28] liang3404814 commented on #87
Modules are cached after the first time they are loaded in node. The documentation states this explicitly:

[2017-10-04 08:21] Inkdpixels commented on #87
@liang3404814 Sure but the [docs also state that](https://github.com/airbnb/hypernova#server) `devMode: true` `disables cluster mode and reloads each component every time it is requested`. As I said, maybe I got it all wrong and there is a solution built in (maybe without using require as you stated), but AFAIK devMode is not used besides the cluster setup, so either

1. The docs need to be update

[2017-10-05 03:22] goatslacker commented on #87
Whoops! This is carried over from before this library was open sourced when we had a feature like that. This is no longer useful because you can define your own custom behavior in `getComponent` and even return a Promise from it if you need to asynchronously fetch the file from somewhere. Hypernova also ships with a VM you can use to load remote code.

[2017-10-05 18:16] #87 closed

[2017-10-17 14:10] damianleung commented on #64
@goatslacker so, did this happen already? I can't get any logging from my setup.

[2017-10-20 05:26] wilhelmeek opened #94 "Link to client spec broken on http://airbnb.io/projects/hypernova/"
This is the linked resource in question.
http://airbnb.io/projects/hypernova/docs/client-spec.md

[2017-10-25 21:08] greenkeeper[bot] opened #95 "An in-range update of sinon is breaking the build 🚨"
## Version **4.0.2** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/hypernova/compare/greenkeeper%2Fsinon-4.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versio

[2017-10-28 01:44] greenkeeper[bot] opened #96 "An in-range update of eslint is breaking the build 🚨"
## Version **4.10.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/hypernova/compare/greenkeeper%2Feslint-4.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current V

[2017-11-06 21:32] Will-Sommers opened #97 "Open to adding the ability to restart workers"
Hi y'all!

First off, thank you for a really great Github project. We use it here at RTR and its added a lot of rigor around the server-side rendering from our Ruby app.

Onto the issue. Would you be open to a PR which allows the hypernova master process to restart its workers after a specific number of requests. We currently have a job calling SIGTERM on the workers due to memory leaks resulting

[2017-11-06 22:33] ljharb commented on #97
That does seem reasonable to me; although it masks the real problem, it would prevent production problems while it's investigated.

[2017-11-07 00:00] Will-Sommers commented on #97
Cool! One of the things we noticed about running without `createGetComponent` is that its really helpful for local development because the restarts are really fast. I'm not sure how y'all load components in without restarting the server — perhaps I'm totally missing something.

[2017-11-07 00:30] ljharb commented on #97
@goatslacker, what are your thoughts?

[2017-11-07 07:42] ljharb commented on #96
Fixed in d599ac8c2a81d3cc83ed847cff378e7488b0fd08

[2017-11-07 07:42] #96 closed

[2017-11-07 07:42] ljharb commented on #95
Fixed in d599ac8c2a81d3cc83ed847cff378e7488b0fd08

[2017-11-07 07:42] #95 closed

[2017-11-13 14:01] Will-Sommers commented on #97
@ljharb & @goatslacker, I'm going to start off with a PR or perhaps just a hook to be able to send a worker an `exit` message and will go from there.

[2017-11-29 20:31] JPWallhorn opened #99 "Rendering Blank"
Hey guys,

I might be just doing something wrong but when I implemented the hypernova setup, all I see is a blank screen. This is the current source code that is getting rendered. I'm using Ruby on Rails & React.

`      <div data-hypernova-key="indexjs" data-hypernova-id="4d2cf94b-7e2b-4bea-8cf7-24f94af855ef"></div>
      <script type="application/json" data-hypernova-key="indexjs" data-hypernova

[2017-11-30 00:49] magicmark commented on #99
@JPWallhorn do you get any errors/messages in the [console](https://developers.google.com/web/tools/chrome-devtools/console/) at all?

[2017-11-30 01:33] JPWallhorn commented on #99
No, this is what I see when I look at the page source
[code]

The console is blank.

[2017-12-03 02:22] magicmark commented on #99
I notice you refer to `index.js` in your `index.erb.html`, but you export your component as `AppProvider.js`. Maybe related? (Would also be great to see the server code?)

[2017-12-05 02:41] magicmark opened #100 "v2.2.0 release"
@goatslacker @ljharb I notice that 2.1.3 is the latest tag on the [npm registry](https://www.npmjs.com/package/hypernova), but master has been on 2.2.0 for a couple of months.

Will this be released soon? Thanks!

[2017-12-19 10:10] justinkizer commented on #99
@JPWallhorn

I just had this exact issue (at least in terms of the symptoms/output) and the solution was moving the `<%= javascript_include_tag 'application' %>` tag below the `</body>` tag in the `views/layout/index.html.erb` file (it was originally in the `<head>` tag, but I noticed that the "Simple" Hypernova example app has it just below the `</body>` tag, and once I changed the order, it work

[2018-01-07 05:33] greenkeeper[bot] opened #102 "An in-range update of eslint is breaking the build 🚨"
## Version **4.15.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/hypernova/compare/greenkeeper%2Feslint-4.15.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current V

[2018-01-13 23:01] ljharb commented on #102
Fixed in 201397bfba3044d46eb58b13038023e7c84767ba

[2018-01-13 23:01] #102 closed

[2018-02-09 06:23] reywright opened #105 "Empty div. No errors anywhere."

[2018-02-16 00:38] hin101 opened #108 "Rails 5.1 Support"
Does Hypernova support Rails 5.1? I have tried to setup server side rendering but my node server doesn't respond.

[2018-02-16 00:43] goatslacker commented on #108
I don't see why not? Are you getting any errors?

[2018-02-16 01:06] hin101 commented on #108
I'm not getting any errors, the server is just blank even with debugging turned on.

[2018-02-26 18:11] agungyuliaji commented on #108
@hin101 running smoothly rails `5.1.5` + ruby `2.5.0` in here.

👆 Probably you missed something.

[2018-02-28 03:16] aftabnaveed commented on #77
Sorry on commenting on a closed issue here, but I am unable to import ES6 React Components into hypernova and the documentation does not state that anywhere.  How can I use ES6 React components here?

[2018-03-10 13:06] aftabnaveed commented on #94
I found it here

https://github.com/airbnb/hypernova/blob/master/docs/client-spec.md

[2018-03-14 21:40] magicmark opened #111 "Guidance needed - how to store request context?"
Hi @goatslacker!

So I have a logger set up inside an express middleware, logging various things about the request.

One bit of information I'd like to add to the logs is - did the request hit a cold cache or not?

I have access to this information inside of my application code - inside of `getComponent`. However there's no great way that I can currently think of to thread this information along t

[2018-03-14 21:44] magicmark commented on #111
(Shoving arbitrary things on the request object is clearly not ideal. I still need to do some more thinking here, but that's probably an orthogonal problem)

[2018-03-14 21:48] ljharb commented on #111
I usually stick things on the response object (and never mutate the request)

[2018-03-14 21:55] magicmark commented on #111
Oh that sounds better, yea! @ljharb++

ok so same question, s/request/response/ ?

[2018-03-14 23:01] goatslacker commented on #111
Why don't we pass a reference to `res.locals`?

[2018-03-14 23:10] magicmark commented on #111
Ah yeah, even better I suppose.

I'll update my PR. Thanks for the quick responses!

[2018-04-15 21:23] k4mr4n opened #115 "fallback in case of hypernova server didn't respond"
Hey all

[code]

If hypernova server fails by any reason and the html content would be empty, then the `renderReact('Component', Component)` wouldn't work either returns blank page and I have to call:
[code]
In this case how could I know my root is empty? because this condition throws error due to undefined document object:
`document.getElementById('root') !== null && document.getElementById('root

[2018-04-20 12:28] #115 closed

[2018-04-26 13:04] greenkeeper[bot] opened #116 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-04-26 15:40] #116 closed

[2018-05-09 18:11] wingleung commented on #64
gave a try, feedback is welcome -> airbnb/hypernova#117

[2018-05-09 20:08] wingleung opened #118 "npm install keeps failing on npm v6"
`npm install` within the hypernova repo on npm@6 keeps failing.

### Steps to reproduce
**npm install**
[code]

**npm audit**
[code]

```npm i --package-lock-only``` installs all the packages but doesn't create a package-lock.json because the .npmrc has package-lock disabled.

[2018-05-10 07:40] wingleung commented on #118
@ljharb should we disable npm audit? package-lock.json is never available so `npm audit` will (temporarily?) not work.

On `npm install` there is a small report that some dependencies are vulnerable but it doesn't say which. To know which ones, we should use `npm audit`, resulting in the `EAUDITNOLOCK` error message. Is this useful?

[code]

branch is ready if need be -> https://github.com/wingleu

[2018-05-10 07:46] ljharb commented on #118
`npm audit` is [planned](https://twitter.com/ReBeccaOrg/status/994325427760971776) to eventually work without a lockfile, so I think we can just ignore the feature and warning for now.

[2018-05-10 17:37] wingleung commented on #64
just saw a PR from a couple of months ago -> https://github.com/airbnb/hypernova/pull/104
so my PR might be obsolete https://github.com/airbnb/hypernova/pull/117

[2018-05-10 18:35] schleyfox commented on #64
Fixed in https://www.npmjs.com/package/hypernova/v/2.2.6 .  Thanks everyone!

[2018-05-10 18:35] #64 closed

[2018-05-11 20:43] jcruz opened #121 "React Helmet server-side rendering?"
I'm using Rails with Hypernova to render a SPA. Is it possible to use Hypernova with React Helmet to manage the document head? The [react-helmet server example](https://github.com/nfl/react-helmet#server-usage) extracts the helmet content after `ReactDOMServer.renderToString`. However, Hypernova uses a default export of the renderReact method so I'm not sure how to accomplish this.

[2018-05-15 22:51] patrick-mcdougle commented on #89
What's the benefit of rendering to stream when all the markup has to be buffered to send the response to the hypernova client? Am I missing something here?

[2018-05-15 23:25] ljharb commented on #89
@patrick-mcdougle it doesn't *all* have to be buffered; by simply beginning to buffer it, chunks can be immediately sent down to the client, before the rest is ready.

[2018-05-16 02:56] patrick-mcdougle commented on #89
@ljharb But the client is almost always some legacy application, which needs the JS view rendered. The client isn't usually a browser, is it?

[2018-05-16 05:48] patrick-mcdougle commented on #89
I guess, but the whole response from hypernova will have to be re-tooled, since the response is JSON. You can't json_decode a partial JSON object...I guess I'm not saying it's impossible, but is it worth the effort?

[2018-05-16 06:00] ljharb commented on #89
indeed, we'd have to use json streaming, or something similar.

I'm not sure if it's worth the effort yet - but it seems likely.

[2018-05-16 20:41] jcruz commented on #121
For those wondering how to do this, you need to write your own `renderReact` method as was done in packages like [airbnb/hypernova-aphrodite](https://github.com/airbnb/hypernova-aphrodite) and [airbnb/hypernova-amp](https://github.com/airbnb/hypernova-amp).

Here's the code that I've used for React Helmet:
[code]

Note: if you're using Rails make sure to disable layouts since this renders the full

[2018-05-16 20:41] #121 closed

[2018-05-19 16:36] MichalCz commented on #89
Well - looking from outside - you can indeed decode a JSON Object using [JSONStream](https://www.npmjs.com/package/JSONStream) - I made quite a lot implementations using that in reading - in writing my [Scramjet..toJSONArray](https://github.com/signicode/scramjet/blob/master/docs/data-stream.md#DataStream+toJSONArray) will easily deliver a JSON array (or object via another method) items in realtim

[2018-05-22 20:50] gbateman opened #122 "Rails Action Cache with Hypernova"
I was trying to implement action caching using (actionpack-action_caching)`https://github.com/rails/actionpack-action_caching` but because of how hypernova works with render tokens, the cached result is just the render token. Furthermore, it is clearly useless to call the after action after returning such a result, because there were no calls to render_react_component if the result was cached. It

[2018-05-23 00:34] ljharb commented on #122
I'm not familiar with how action caching works, but I'd assume it would need to run after all filters - and hypernova runs in an around_filter. If it's not doing that, then it's probably caching the wrong thing in a number of cases.

[2018-05-23 03:43] gbateman commented on #122
Yeah, it seems like action caching takes the result from before after_filters though - not what hypernova could do to get around that if anything

[2018-05-23 03:52] ljharb commented on #122
I don't think there's anything; it seems like a flaw/bug in action cache, tbh.

[2018-06-15 22:57] greenkeeper[bot] opened #125 "An in-range update of babel-preset-airbnb is breaking the build 🚨"
## Version **2.5.1** of **[babel-preset-airbnb](https://github.com/airbnb/babel-preset-airbnb)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/hypernova/compare/master...airbnb:greenkeeper%2Fbabel-preset-airbnb-2.5.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td

[2018-07-06 15:06] mvcruzata opened #131 "Memory leaks in the use of SSR"
Hi, we have a system in which we set up our websites using SSR, with a flow over 2000 rpm in production environment. Actually, we are facing memory leaks issues by rendering react component throught SSR. We are looking for alternatives for handling SSR efficiently by avoiding possible memory leaks generated by the react compoenents to render. We are evaluating the use of hypernova as framework for

[2018-07-06 20:48] goatslacker commented on #131
There is no silver bullet when dealing with memory leaks. You can use [`createVM`](https://github.com/airbnb/hypernova/blob/master/src/createVM.js) to sandbox your code and guard against possible leaks but you'll be trading off performance since creating a VM has some considerable overhead.

You can create a VM on each request which is the safest and most expensive approach or you can create a VM

[2018-07-08 21:58] ljharb commented on #125
Fluke. Fixed in fdf6b8c06d8bcc9520a9e532735a3fce4c48c8c3

[2018-07-08 21:58] #125 closed

[2018-08-03 01:24] juanca opened #134 "TypeError: Promise.promisifyAll is not a function"
Environment:

[code]

I'm starting to set up hypernova in a Rails + Webpack repository.

By importing the hypernova server module, it seems my globals are polluted.

The only difference in my script is the following line:

[code]

which produces the following error trace:

[code]

While the error is not in the hypernova source, it is being caused by a hypernova module -- since it works without pro

[2018-08-03 02:14] ljharb commented on #134
hypernova used bluebird, but doesn’t shim anything; promisifyAll is a bluebird method. Perhaps you have code that is relying on bluebird being the global Promise?

[2018-08-06 18:41] juanca commented on #134
I looked into it a bit more.

I have been able to isolate the side effects with the following code:

[code]

which output the following:

[code]

I'm going to dig into `hypernova/server` now -- though at a quick glance I can't seem to find any reference to bluebird.

[2018-08-06 18:46] juanca commented on #134
It seems that [`node_modules/hypernova/lib/environment.js`](https://github.com/airbnb/hypernova/blob/master/src/environment.js) is modifying the exported module from bluebird.

What's the intention of that file?

[2018-08-06 22:47] ljharb commented on #134
ah, it's to ensure that the global promise lacks Bluebird-specific methods.

[2018-08-07 03:27] earksiinni commented on #87
In case anyone else came here from Google, here's what I did to disable caching in development:

[code]

The lines below are where the magic happens:

[code]

- `'hypernova/lib/Module'` is Hypernova's implementation of the Node module API. Crucially, it differs internally by invoking `vm.runInNewContext`, which is what allows each rendering to be isolated.
- `module._compile` executes your code in

[2018-08-27 11:50] greenkeeper[bot] opened #136 "An in-range update of glob is breaking the build 🚨"
## Version **7.1.3** of **glob** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/hypernova/compare/master...airbnb:greenkeeper%2Fglob-7.1.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/isaacs/node-glob>glob</a>

[2018-09-06 17:07] rimeous opened #138 "Example of async component fetching"
Is it possible to add some working example of Promise based fetching of component?

[2018-09-21 10:32] jburghardt opened #140 "createApplication in docs but not released"
The createApplication feature has been merged with https://github.com/airbnb/hypernova/pull/132 and is currently in the docs but has not been released yet. This is quite confusing as i was not sure why it was not working.

A new version to release this feature would be great !

[2018-09-21 17:37] ljharb commented on #140
It's common and expected that the master branch of a repo may contain unreleased code. If you check https://github.com/airbnb/hypernova/releases and click through to the [version](https://github.com/airbnb/hypernova/tree/v2.3.0) you're interested in, you'll see what it has available.

I'll try to get a release out soonish.

[2018-09-22 07:31] jburghardt commented on #140
Oh i know its common. I guess i was just trying to get this on the radar as we are looking to use some middlewares with hypernova.

Can be closed then and thanks

[2018-09-27 22:23] ductiletoaster opened #141 "More details about server requirements for production"
While trying to build out the client node machine and the "hypernova" server I had issues hitting the server from an external host.
Example can be found here:
https://github.com/pixeloven/typescript-react-component-library

In this example I am unable to connect the client to the server when they are running on different hosts. the express client seems to be ok being accessed "0.0.0.0:8080/health"

[2018-09-27 23:03] ductiletoaster commented on #141
Just realized that createApplication is't available in 2.3.0 or atleast it's not fully implemented. Either way I'm still unable to connect the two node servers together.

[2018-10-12 18:44] jamesmosier commented on #97
Hey @Will-Sommers. Were you able to make any progress on this? Or care to share a bit about your current setup? Thanks!

[2018-10-23 07:00] ljharb commented on #136
Fluke.

[2018-10-23 07:00] #136 closed

[2018-10-30 10:51] agis commented on #140
Getting this in a release would be great, we're also interested in this feature. Thanks!

[2018-10-31 11:26] kpelelis opened #144 "[Question] Runtime loading/unloading modules"
We have been experimenting with hypernova for our SSR architecture. A problem arose when we wanted to add or remove a module in the `getComponent` method on runtime. Is there a suggested way that we could do this without restarting the server?

[2018-11-01 17:46] #140 closed

[2018-11-02 09:45] agis commented on #144
Specifically, we want to deploy hypernova in such a way that it supports multiple versions (ie. releases) of our SSR code, without having to restart it. However, we've noticed memory leaks.

The scheme is the following:

- we keep a map with the known versions in hypernova.js
- when a client requests a version, hypernova goes to the fs and loads the respective files
- the version is kept in the ma

[2018-11-15 09:53] kpelelis opened #145 "Proper source map support for development mode"
Hello. In order to speed up our development process, we have build a custom solution for the hypernova server which can load Javascript bundles over HTTP. With that, we can spin up a webpack dev server and reload the compiled bundle each time the source files change. That has been working wonders for the time being and we are really happy that we don't have to compile the files over and over again

[2018-11-16 12:05] kpelelis commented on #145
Problem is, the bundle will never reach the browser:

--> Browser requests page (e.g. /home)
--> Hypernova Ruby Client (needs to partially render a div with hypernova, so it requests hypernova for a render)
--> Hypernova (tries to render the component and gets and error, so it returns the error)
--> Hypernova Ruby Client (renders the error generated from nova)
-->  Browser renders the HTML page ge

[2018-11-16 16:36] ljharb commented on #145
Gotcha - and in this case, the client render doesn’t take over?

[2018-11-21 09:51] kpelelis commented on #145
If by take over, you mean handling the stack trace the answer is no. The Ruby Client knows nothing of the original javascript bundle that the error came from. The idea was to transform the source map in the hypernova server

[2018-11-21 15:05] agis commented on #145
@ljharb For example, the backtrace displayed on the browser is something along the lines of:

[code]

Note that:

- we compile our SSR code using webpack and the generated bundle (`ssr.bundle.js`) is the one executed by Hypernova
- the above backtrace is displayed in the Rails view, since we have the hypernova developer plugin enabled
- what we're trying to achieve, is to have the trace point to t

[2018-11-21 16:54] ljharb commented on #145
Gotcha. So you do have a source map for that bundle, you just want it somehow applied in the hypernova error.

That does seem like something that could be done inside hypernova itself. However, perhaps if you included https://www.npmjs.com/package/source-map-support yourself, it would be handled for you?

[2018-11-22 01:41] ljharb commented on #145
It's hard for me to really understand the scope of this without a PR. Would you be willing to make one, with the understanding that there's no promise to merge it? If it's reasonable and doesn't seem to add much complexity, I'm sure it'd be fine, but I want to set your expectations appropriately :-)

[2019-02-06 23:12] alexsbryan opened #150 "Ruby version in example is ambiguous"
Appreciate the work on the project! I had ruby 2.5.x running on my system and couldn't get the example to run on account of what seemed like this issue: https://github.com/rails/rails/issues/27670 (`Fixnum is deprecated` error). After installing 2.3.8 it worked well enough to test, but there were some odd errors in the server logs.

I'd like to request that the ruby version be specified in the Gem

[2019-02-06 23:17] ljharb commented on #150
Sure, a PR to add that would be great.

[2019-02-27 02:33] marconi1992 commented on #51
@baoti you could use this npm package https://www.npmjs.com/package/hypernova-vue, there's an article about it too https://medium.com/@felipegaiacharly/using-vue-js-with-hypernova-server-ce792dcf1ac7

[2019-02-27 02:34] marconi1992 commented on #29
@awolden there's a npm package to implement it into a lambda https://www.npmjs.com/package/hypernova-lambda

[2019-02-27 10:04] baoti commented on #51
https://github.com/airbnb/hypernova/commit/ca74d2123708f29ab3bb3cc897874e2d894b8394#diff-19b62c5258de09e32f97ee52dd8e9615

[2019-02-27 10:09] baoti commented on #51
It's already supported since [2.1.1] - 2017-06-15, [commit](https://github.com/airbnb/hypernova/commit/ca74d2123708f29ab3bb3cc897874e2d894b8394#diff-19b62c5258de09e32f97ee52dd8e9615).

[2019-02-27 10:09] #51 closed

[2019-02-27 10:13] baoti commented on #51
@marconi1992 Thanks, It works.

[2019-04-13 08:25] greenkeeper[bot] opened #153 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.16.0` to `2.17.0`.

🚨 [View failing branch](https://github.com/airbnb/hypernova/compare/master...airbnb:greenkeeper%2Feslint-plugin-import-2.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin

[2019-04-13 15:38] ljharb commented on #153
Fixed in v2.17.1 / https://github.com/benmosher/eslint-plugin-import/issues/1322

[2019-04-13 15:38] #153 closed

[2019-06-04 14:08] leandromatos-hotmart opened #154 "Load application on demand showing a pre loading"
Has anyone ever had to load new applications by showing a preload (either loading a new application without changing the route or changing the route)? If so, what approach is used?

[2019-08-14 00:33] greenkeeper[bot] opened #160 "An in-range update of rimraf is breaking the build 🚨"
## The devDependency [rimraf](https://github.com/isaacs/rimraf) was updated from `2.6.3` to `2.7.0`.

🚨 [View failing branch](https://github.com/airbnb/hypernova/compare/master...airbnb:greenkeeper%2Frimraf-2.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rimraf is a devDependency of this project. It **might not bre

[2019-08-14 17:20] ljharb commented on #160
Fixed in v2.7.1.

[2019-08-14 17:20] #160 closed

[2019-08-23 01:17] #94 closed

[2019-08-28 17:05] ZebraFlesh opened #162 "CSS support?"
If my component includes CSS, how can I include that in the response? I don't see how that information could be included in the response from `getComponent`. Am I missing something elementary here?

[2019-08-28 18:43] juanca opened #163 "Custom attributes on Hypernova DOM container"
Hello.

I am using Hypernova to deprecate simple ERB elements with React components. It's been pretty much a smooth ride except for 1 thing:

- Can I add a custom class name to the Hypernova DOM container?

Since I am replacing snippets of ERB, I am introducing a new `<div>` with each `render_react_component` invocation. I would prefer to be able to style the Hypernova DIV instead of wrapping it i

[2019-09-03 23:12] juanca commented on #162
I think this might be beyond the scope of Hypernova.

At the moment, I am using Hypernova in a Rails application. We analyze the produced manifest from Webpack in our Rails views to generate the correct link and script tags.

As far as I can tell, Hypernova is only concerned about producing the boilerplate on React entry points and rendering the initial HMTL state for the component -- letting regu

[2019-09-16 02:44] marconi1992 commented on #162
@ZebraFlesh What do you mean about CSS?

You can use the context parameter from the method `getComponent`.

The `context` variable contains a `returnMeta` property you can use to add whatever you want. I usually use it to provide an URL of the CSS file.

[code]

[2019-09-16 02:48] marconi1992 commented on #150
@ljharb I think this issue is solved by the merged PR above.

[2019-09-16 04:08] ZebraFlesh commented on #162
Perfect! That’s the piece that was unclear. Thank you!

[2019-09-16 04:18] ljharb commented on #162
This seems answered; thanks @marconi1992.

[2019-09-16 04:18] #162 closed

[2019-09-16 04:18] ljharb commented on #150
Closed in #151.

[2019-09-16 04:18] #150 closed

[2019-09-16 05:24] marconi1992 commented on #29
@ljharb looks like this question was answered. I even shared an existing package using the approach discussed aboved.

[2019-09-16 22:52] #29 closed

[2019-10-09 11:28] jburghardt opened #165 "Encode closing Tag"
Currently encoding only includes

[code]

[2019-10-09 18:44] ljharb commented on #165
`</script` shouldn't close anything? you'd need `</script>`, and the `>` is escaped.

[2019-10-10 07:00] jburghardt commented on #165
``` <script ``` with a blank after the t does close the hypernova script

[2019-10-10 07:14] ljharb commented on #165
It seems like indeed `</` specifically should be escaped.

[2019-10-10 07:23] jburghardt commented on #165
This is what could happen

[code]

[2019-10-10 08:37] jburghardt commented on #165
escaping just ```<``` should be enough.

[2019-10-10 16:14] ljharb commented on #165
That will cause a lot more escaping, of all html tags, unnecessarily. We should only escape the pair.

[2019-10-11 08:38] jburghardt commented on #165
Yep you are right, i updated the pull request.

[2019-11-26 11:15] ASnow opened #172 "Assets support"
I am interesting in case studies for solutions in assets destribution.
I have multiple nova services with Ara Framework and i had to find out best solution to proxy assets for each nova services.
Do yu have some standard approaches?

[2019-12-09 07:21] greenkeeper[bot] opened #173 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.18.2` to `2.19.0`.

🚨 [View failing branch](https://github.com/airbnb/hypernova/compare/master...airbnb:greenkeeper%2Feslint-plugin-import-2.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin

[2020-01-11 03:58] devcat22 commented on #121
Couldn't you have done this right after the `renderReact`?

[2020-02-02 16:17] #173 closed

[2020-02-04 08:02] leandromatos opened #175 "This project is no longer maintain?"
I seen a lot of pull request and issues opened a long time ago. This project is no longer maintain?

Is harded to choose a project like Hypernova for using when his not receive update a long time ago.

[2020-02-04 08:19] ljharb commented on #175
It's still maintained.

[2020-03-16 20:25] greenkeeper[bot] opened #179 "An in-range update of in-publish is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [in-publish](https://github.com/iarna/in-publish) was updated from `2.0.0` to `2.0.1`.

🚨 [View failing branch](https://github.com/airbnb/hypernova/compare/master...airb

[2020-03-19 17:32] #179 closed

[2020-11-26 09:58] androdel commented on #162
And what about if you work with CSS modules and you want to include all that styling in the microfrontend?

[2020-11-27 02:09] ljharb commented on #162
Then it’d be bundled up with your JS, no? That seems like it would “just work”, like any css-in-js solution.

[2020-11-27 14:00] androdel commented on #162
It's bundled, but not included in the html hypernova server returns

[2020-11-27 15:30] ljharb commented on #162
true, you’d need to generate a css file on the server during rendering to include with the initial payload. https://npmjs.com/hypernova-aphrodite is how Airbnb does it.

[2020-11-27 17:19] androdel commented on #162
Hmm, adding Aphrodite is not an option. We use SCSS so we need to process it with Webpack. Something like this:

[code]

[2020-11-27 17:20] ljharb commented on #162
I wasn’t suggesting Aphrodite, i was showing one technique you could adapt.

[2020-11-27 17:38] androdel commented on #162
My bad. Thanks for the info

[2021-11-20 22:02] marcus-sa commented on #175
@ljharb doesn't seem like it.

[2021-11-20 22:04] ljharb commented on #175
@marcus-sa things seem like lots of things, not sure what to tell you.

[2021-11-20 22:04] #175 closed

[2021-12-06 18:03] eliecer2323 commented on #175
I'm also looking into the whole Ara Framework solution, but it seems like most of the libraries haven't been updated since three years ago, it makes me doubt the support I can have if I choose it for my project

[2021-12-06 18:29] eliecer2323 commented on #162
Hello, what could I do then to receive the data from the context.returnMeta and insert it into the link element using a hyper nova-directive like the handlebars one

[2022-05-08 00:25] csharplus commented on #165
@duoertai could you please take a look at this issue?

[2022-06-13 21:20] kedarv commented on #144
Did you ever figure out why memory was growing when loading new bundles in? Can you expand more on how you used Webpack to avoid `require`ing?

[2022-07-05 12:04] juanca commented on #163
Hello. I am encountering this issue again. However, I think being able to add a style attribute would be more convenient for my current case: I want to use a CSS grid layout where each SSRed component is rendered as a named grid item.

[2022-09-27 12:39] gempir opened #196 "Loadable Component integration"
Loadable components is arguably the most popular and most established lazy loading framework for react.

It also supports server side rendering, but it's unclear how I could implement it with hypernova.

https://loadable-components.com/docs/server-side-rendering/

This is the code suggested
[code]

That does not fit into hyernova's concept though.

I think the trick here is reading the stats.json

[2022-10-06 17:23] lakshmajee opened #198 "Will this work with rails 7.x"
Is this compatible with rails 7.x?

I have seen some legacy version examples in the sample, Is there any one have integrated this with latest version of rails (without third-party boilerplates)